<div class="columns">
      <div class="column is-one-fourth has-text-right">
        <h2 class="title is-2" >Login</h2>

        <form class="login-form" class="">
            <div class="field">
                <label class="label" for="email-login">Email:</label>
                <div class="control">
                    <input class="form-input" type="text" id="email-login" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="password-login">Password:</label>
                <div class="control">
                    <input class="form-input" type="password" id="password-login" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
      </div>
    <div class="column is-half has-text-left">
        <h2 class="title is-2">Create Account</h2>

        <form class="create-form">
            <div class="field">
                <label class="label" for="name-create">Name:</label>
                <div class="control">
                    <input class="form-input" type="text" id="name-create" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="email-create">Email:</label>
                <div class="control">
                    <input class="form-input" type="text" id="email-create" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="password-create">Password:</label>
                <div class="control">
                    <input class="form-input" type="password" id="password-create" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Create Account</button>
                </div>
            </div>
        </form>
    </div>


    <script src="/js/login.js"></script>